#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    width: 400px;
    padding: 20px;
    background-color: purple;
}

.key {
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
    background-color: purple;
    cursor: pointer;
}





    





